@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
p{
  margin: 0 auto;
}

body{
  margin: 0 auto;
}

.top-section{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 508px;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(187, 187, 187, 0.1)), url("./images/IMG_2437.JPG") 0% 0% no-repeat padding-box;
  background-position: bottom;
  background-size: cover;
  border: 1px solid #434853;
  opacity: 0.8;
}

.header-wrapper{
  margin: 6px -10px 0 -27px;
	display: flex;
	flex-direction: column;
	align-self: center;
	position: relative;
}

.social-media-icons{
  display: flex;
  align-self: flex-end;
  margin: 50px 15px 0;
}

.fa {
  font-size: 20px;
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  padding: 10px;
  margin-right: 5px;  
}

.presentation{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-left: 40px;
  margin-top: 7vh;
  color: #FFFFFF;
}

.p-portfolio{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.52px;
  font-size: 1.3em;
}

.p-portfolio-name{  
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.3em;
  margin-left: 10px;
}

.presentation-career{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 40px;
  margin-top: 2vh;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.52px;
}

.h1-presentation{
  font-size: 2.5em;
  margin: 10px 0;
  width: 80%;
}

.h2-presentation{
  font-size: 1.6em;
  line-height: 29px;
  margin-left: 0;
}

.profile-image{
  width: 162px;
  height: 162px;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  position: relative;
  right: -47%;
  bottom: -3%;
}

.main-sections{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 5px 0 45px;
}

.purple{
  background: #CCCADC 0% 0% no-repeat padding-box;
}

.line {
	background: #434853;
	width: 35px;
	height: 3px;
  display: inline-block;
  position: relative;
  top: -3px;
  left: 1px;
}

.dot {
	background: #434853;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
  position: relative;
  top: 0px;
  left: -8px;
}

.p-summary{
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  padding: 12vh 3vh;
}

.title-box{
  margin: 5vh 0 5vh;
  background: #434853 0% 0% no-repeat padding-box;
  border-radius: 3%;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: 900;
  padding: 6px;
  margin: 0 auto;
}

.p-tech-info{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  padding: 10px;
  letter-spacing: 0.52px;
}

.projects-wrapper, 
.other-projects-wrapper{
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 100%;
}

.project, 
.other-projects {
  box-sizing: border-box;
  width: 70%;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.a-text,
a {
  text-decoration: none;
  color: #000000;
}

.project-image{
  display: block;
	object-fit: cover;
  width: 100%;
  margin-bottom: 20px;
  opacity: 0.8;
}

.project-title{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 900;
  margin: auto 0;
  color: #434853;
}

.project-description{
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.52px;
  width: 100%;
}

.arrow {
  all: unset;
  color: #434853;
  font-weight: bold;
  text-decoration: underline;
}

.tag-container{
  box-sizing: border-box;
  display: flex;
}

.tag{
  background: #95A78E 0% 0% no-repeat padding-box;
  margin: 7px 0px 0px;
  border-radius: 3%;
  margin: 7px 10px 0 0;
}

.p-tag{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #000000;
  padding: 7px;
}

.h3-other-heading{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
  font-weight: 800;
  color: #434853;
  margin: 6vh 0 5vh; 
}


.skills-container{
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

.skills-code,
.skills-tool,
.skills-more{
  text-align: center;
  width: 50%;
}

.test{
  display: flex;
  flex-direction: column;
}


.p-code-title,
.toolbox-code{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #434853;
  font-size: 1.2em;
  margin: 5px;
  margin: 0vh 0 1vh;
}

.p-code-title-last{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #434853;
  font-size: 1.2em;
  margin: 5px;
  margin: 3vh 0 1vh;
}

.links-container{
  display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.icon-text-wrapper{
  margin: 15px 5px;
	text-decoration: none;
	color: #434853;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
}

.links-container i {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid #434853;
	color: #434853;
	border-radius: 50%;
	height: 58px;
	width: 59px;
	font-size: 29px;
	padding: 10px;
	margin: 0;
}

.links-container p {
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
}

.p-code-list{
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  margin-bottom: 10px;
}

footer{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 342px;
  width: 100%;
  margin: 0 auto;
  background: #95A78E 0% 0% no-repeat padding-box;

}

h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7em;
  text-transform: uppercase;
  padding: 6px;
  margin: 10vh 0 5vh;
}

.p-contact-name{
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 10px 0 10px;
}

.contact-mail{
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
}

/*** media query ****/
@media (min-width: 768px) {
  .header-wrapper{
    margin: -21px 0 0 100px;
    width: 89%;
    }

    .h1-presentation{
      width: 50%;
    }

    .links-container{
      width: 50%;
    }
  }

@media (min-width: 1024px){
    .top-section{
      height: 969px;
      width: 100%;
      max-width: 1950px;
    }

    .fa{
      font-size: 35px;
    }

    .p-portfolio, 
    .p-portfolio-name{
      font-size: 2.3em;
    }

    .h1-presentation{
      font-size: 3.5em;
    }

    .h2-presentation{
      font-size: 2.6em;
    }

    .profile-image{
      width: 333px;
      height: 333px;
      margin-left: 200px;
    }
    .header-wrapper{
    margin: 225px 0 0 5px;
    width: 76%;
    }

    .line{
      top: -9px;
    }

    .dot{
      top: -6px;
    }


    .p-summary{
      font-size: 2.1em;
      padding: 12vh 20vh;
      letter-spacing: 0.52px;
    }

    h3{
      font-size: 2.6em;
    }

    .p-tech-info{
      font-size: 2em;
      padding: 12vh 20vh;
    }

    .tech-highlight{
      color: #534e7e;
      font-weight: 600;
    }

    .project{
      width: 33%;
    }

    .project-title, 
    .project-description{
      font-size: 1.7em;
    }

    .h3-other-heading,
    h4{
      font-size: 2.5em;
    }

    .skills-container{
      width: 33%;
    }

    .test{
      flex-direction: row;
      width: 67%;
    }

    .p-code-title,
    .p-code-list,
    .p-code-title-last{
      font-size: 1.6em;
    }

    .links-container i {
      font-size: 30px;
      height: 70px;
      width: 70px;
    }

    .links-container{
      width: 20%;
    }

    .p-contact-name,
    .contact-mail{
      font-size: 1.8em;
    }
}




