@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
p{
  margin: 0 auto;
}

body{
  margin: 0 auto;
}

.top-section{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 508px;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  /*background: transparent url("./images/IMG_2437.JPG") 0% 0% no-repeat padding-box;*/
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(187, 187, 187, 0.1)), url("./images/IMG_2437.JPG") 0% 0% no-repeat padding-box;
  background-position: bottom;
  background-size: cover;
  border: 1px solid #434853;
  opacity: 0.8;
}

.social-media-icons{
  display: flex;
  align-self: flex-end;
  margin: 50px 15px 0;
}

.fa {
  font-size: 20px;
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  padding: 10px;
  margin-right: 5px;  
}

.presentation{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-left: 40px;
  margin-top: 7vh;
  color: #FFFFFF;
}

.p-portfolio{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.52px;
  font-size: 1.3em;
}

.p-portfolio-name{  
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.3em;
  margin-left: 10px;
}

.presentation-career{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 40px;
  margin-top: 2vh;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.52px;
}

.h1-presentation{
  font-size: 2.5em;
  margin-bottom: 1.5vh;
}

.h2-presentation{
  font-size: 1.6em;
  line-height: 29px;
  margin-left: 0px;
}

.profile-image{
  width: 162px;
  height: 162px;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  position: relative;
  right: -47%;
  bottom: -3%;
}

.summary-section{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 342px;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  background: #CCCADC 0% 0% no-repeat padding-box;
  margin-top: 5px;
}

.p-summary{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  text-align: left;
  padding: 12vh 2vh;
}

.tech-section{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 342px;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  background: #FFFFFF 0% 0% no-repeat padding-box;
}

.title-box{
  margin: 10vh 0 5vh;
  background: #434853 0% 0% no-repeat padding-box;
  border-radius: 3%;
}

.p-title{
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: 900;
  padding: 6px;
}

.p-tech-info{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  padding: 10px;
  letter-spacing: 0.52px;
}

.featured-projects{ /*flex-wrap?*/
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  background: #CCCADC 0% 0% no-repeat padding-box;
}

.projects-wrapper{
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 100%;
}

.project{
  box-sizing: border-box;
  width: 70%;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.a-text{
  text-decoration: none;
  color: #000000;
}

.project-image{
  width: 100%;
  margin-bottom: 20px;
}

.project-title{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  width: 100%;
  font-weight: 900;
  color: #434853;
}

.project-description{
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.52px;
  width: 100%;
}

.arrow {
  all: unset;
  color: #434853;
  font-weight: bold;
  text-decoration: underline;
}

.tag-container{
  box-sizing: border-box;
  display: flex;
}

.tag{
  background: #95A78E 0% 0% no-repeat padding-box;
  margin: 10px;
  border-radius: 3%;
}

.p-tag{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 7px;
}

.other-projects-title{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 800;
  color: #434853;
  margin: 15vh 0 10vh; 
}

.thoughts{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 342px;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  background: #FFFFFF 0% 0% no-repeat padding-box;
}

.skills{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  background: #CCCADC 0% 0% no-repeat padding-box;
}

.skills-container{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.skills-code{
  margin:10px;
}

.p-code-title,
.toolbox-code{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #434853;
  font-size: 1.2em;
  margin: 5px;
  margin: 5vh 0 6vh;
}

.p-code-list{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.for-more{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 342px;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  background: #FFFFFF 0% 0% no-repeat padding-box;
}

footer{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 342px;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  background: #95A78E 0% 0% no-repeat padding-box;
}

.p-contact{
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: 900;
  padding: 6px;
  margin: 10vh 0 5vh;
}

.p-contact-name{
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 10px 0 10px;
}

.p-contact-mail{
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #FFFFFF
}

/*** media query ****/
@media (min-width: 768px) {
    }

@media (min-width: 1024px){
    .hero-image{
      height: 969px;
      width: 100%;
      max-width: 1950px;
    }

    /*.featured-projects{
      width: 100%;
      max-width: 1950px;
    }*/

    .project{
      width: 40%;
    }

  
}